@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


/* element css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

body{
  height: 100%;
}

h1{
  color: rgb(9, 64, 103);
  font-size: 66px;
  font-weight: bold;
}

h2{
  color: rgb(9, 64, 103);
  font-size: 36px;
  font-weight: bold;
}

h3{
  color: rgb(9, 64, 103);
  font-size: 26px;
  font-weight: bold;
}

h4{
  color: black;
  font-size: 28px;
  font-weight: bold;
}

.form_send{
  background-color: rgb(24, 111, 178);
  border-color: rgb(24, 111, 178);
  border-radius: 3px;
  padding: 8px;
  width: 130px;
  font-size: 16px;
  color: white;
}

form input[type=text]{
  padding: 8px;
  width: 350px;
  font-size: 18px;
}

form input[type=date]{
  padding: 8px;
  width: 350px;
  font-size: 18px;
}

form input[type=password]{
  padding: 8px;
  width: 350px;
  font-size: 18px;
}

main{
  padding-bottom: 70px;
}

footer{
  background-color: rgb(24, 111, 178);
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  vertical-align: bottom;
}

/* class css*/

.image_responsive{
  width: 100%;
  max-width: 600px;
  height: auto;
}

/* header css */
.header_wrapper{

}

.header_background{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(24, 111, 178);
  color: white;
  padding: 1%;
  font-weight: bold;
}

.header_header{
  margin-left: 100px;
  font-size: 26px;
}

.header_links a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-right: 100px;
}


/* login, register css */
.form_wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form_header{
  padding: 3vw 0px 0px 4vw;
}

.div_form{
  padding-top: 5vw;
  padding-left: 8vw;
}

.login_submit p{
  font-size: 18px;
  font-weight: bold;
  color: rgb(9, 64, 103);
  padding-top: 1vw;
}

.login_submit a{
  color: rgb(9, 64, 103);
}

.login_picture{
  padding-right: 8vw;
  padding-top: 5vw;
}

.register_picture{
  padding-right: 8vw;
  padding-top: 10vw;
}

.form_spacing{
  padding-bottom: 4vw;
}

.form_spacing h3{
  padding-bottom: 0.5vw;
}

.div_input{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input_spacing{
  padding-left: 50px;
}

.register_submit{
  padding-left: 320px;
  padding-bottom: 20px;
}

/* objective organizer css*/

.flex_wrap{
  display: flex;
  flex-wrap: wrap;
}

.card_wrapper{
  margin-right: 40px;
  background-color: rgb(33, 150, 242);
  width: 22%;
  min-width: 350px;
  min-height: 300px;
  margin-bottom: 20px;
  border: 1px solid rgb(33, 150, 242);
  border-radius: 6px;
  box-shadow: 5px 10px rgb(24, 111, 178);
}

.main_wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 50px;
}

.organizer_wrapper{
  padding: 30px 0px 0px 60px;
}

.organizer_add button{
  background-color: rgb(24, 111, 178);
  padding: 10px;
  margin-top: 50px;
  width: 130px;
  color: white;
  border: 1px solid rgb(24, 111, 178);
  border-radius: 3px;
  font-size: 18px;
}

.organizer_add{
  padding-right: 110px;
}

.card_header{
  text-align: center;
  padding-top: 10px;
}

.card_header h4{
  color: white;
  font-size: 28px;
}

.card_form{
  display: flex;
  flex-direction: row;
  padding: 10px 20px 10px 10px;
  justify-content: center;
}

.card_progressBar{
  padding: 20px 40px 20px 40px;
}

.card_progressBar progress{
  width: 100%;
  height: 30px;
}

.card_counter_date{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 40px;
  color: rgb(185, 212, 232);
  font-size: 20px;
}

.card_counter{
  background-color: rgb(24, 111, 178);
  margin-left: 10%;
  padding: 15px;
  border: 1px solid rgb(24, 111, 178);
  border-radius: 3px;
  margin-right: 10px;
}

.card_date{
  background-color: rgb(24, 111, 178);
  margin-right: 10%;
  padding: 15px;
  border: 1px solid rgb(24, 111, 178);
  border-radius: 3px;
  margin-left: 10px;
}

.card_finish{
  padding-right: 20px;
}

.card_delete{
  padding-left: 20px;
}

.form_delete{
  background: url(pictures/icon_delete.png);
  width: 50px;
  height: 50px;
  border: none;
  display: block;
  background-size: cover;
}

.form_finished{
  background: url(pictures/icon_finish.png);
  width: 50px;
  height: 50px;
  border: none;
  display: block;
  background-size: cover;
}

.card_details{
  padding-right: 20px;
}

/* add main_objective css*/

.form_spacing_urgent{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding-bottom: 60px;
}

.organizer_header_links{
  padding: 10px 0px 0px 25px;
  display: flex;
}

.organizer_header_links p{
  color: rgb(144, 180, 206);
}

.link_spacing_left{
  padding-left: 15px;
}

.link_spacing_right{
  padding-right: 15px;
}

.organizer_header_links a{
  text-decoration: none;
  color: rgb(144, 180, 206);
  font-size: 18px;
}

.form_spacing_urgent h3{
  padding-left: 30px;
}

.div_backLink{
  padding: 30px 0px 0px 60px;
  padding-bottom: 30px;
}

.div_backLink button{
  background-color: rgb(24, 111, 178);
  border: 1px solid rgb(24, 111, 178);
  padding: 10px;
  width: 130px;
  color: white;
  text-decoration: none;
  border-radius: 3px;
  font-size: 18px;
}

.div_add_picture{
  padding-right: 200px;
  padding-top: 70px;
}

/* details-main_objective css*/
.details_card_wrapper{
  margin-right: 40px;
  background-color: rgb(33, 150, 242);
  width: 46%;
  min-width: 350px;
  min-height: 300px;
  margin-bottom: 20px;
  border: 1px solid rgb(33, 150, 242);
  border-radius: 6px;
  padding-bottom: 10px;
  box-shadow: 5px 10px rgb(24, 111, 178);
}

.details_card_medium{
  border-bottom: 5px solid rgb(24, 111, 178);
}

.details_card_header{
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

.details_card_header h4{
  color: white;
  font-size: 36px;
  padding-left: 5%;
}

.details_card_header h5{
  color: white;
  font-size: 30px;
  padding-left: 15px;
}

.details_card_header a{
  padding-right: 2%;
}

.details_card_additional{
  padding-top: 20px;
  width: 98%;
  margin-top: 10px;
}

.additional_wrapper{
  margin-left: 2%;
  background-color: rgb(24, 111, 178);
  border-radius: 5px;
  padding-bottom: 20px;
}

.additional_finish_date{
  margin-left: 15px;
  padding: 5px 0px 20px 0px;
}

.additional_finish_date h5{
  color: white;
  font-size: 22px;
}

.details_card_form{
  display: flex;
  flex-direction: row;
  padding: 10px 20px 10px 10px;
  justify-content: space-between;
}

.card_finish_delete{
  display: flex;
  flex-direction: row;
}

.additional_comment_div{
  background-color: white;
  width: 95%;
  margin-left: 15px;
  min-height: 100px;
  text-align: justify;
  border-radius: 5px;
}

.additional_comment_div p{
  padding-left: 10px;
  padding-top: 10px;
  width: 95%;
}

.additional_comment_wrapper{
  display: flex;
  flex-direction: row;
}

.additional_card_buttons{
  display: flex;
  flex-direction: row;
  padding-top: 30px;
}

/* edit main css */
.div_edit_picture{
  padding-right: 250px;
  padding-top: 70px;
}

/* finished css*/

.finished_wrapper{
  padding-left: 55px;
}

.finished_form{
  padding-top: 50%;
  float: right;
}

/* profile css */
.profile_wrapper{
  display: flex;
  justify-content: space-between;
}

.profile_data{
  padding: 70px 0px 0px 150px;
}

.profile_data h2{
  padding-bottom: 5px;
}

.profile_data h3{
  padding-bottom: 30px;
}

.change_data{
  display: flex;
  padding-top: 40px;
  padding-bottom: 80px;
}

.change_user_password, .change_user_data{
  padding-left: 40px;
}

.change_data a{
  text-decoration: none;
  color: white;
  background-color: rgb(24, 111, 178);
  border: 1px solid rgb(24, 111, 178);
  border-radius: 3px;
  padding: 10px;
}

.logOut_form{
  padding-bottom: 40px;
  padding-left: 50%;
}

.form_data{
  display: flex;
  justify-content: space-between;
}

.form_email_username{
  padding-left: 30px;
}

.change_button{
  padding-left: 300px;
  padding-bottom: 50px;
}

.change_button p{
  color: rgb(9, 64, 103);
  padding-top: 10px;
  margin-left: -5vw;
}

/* change password */
.form_spacing p{
  padding-top: 5px;
  color: rgb(9, 64, 103);
}

/* footer css */
.footer_text{
  font-size: 20px;
  padding-top: 0.8rem;
}

/* teams css */
.detail_div{
  text-align: center;
  padding-top: 10%;
}

.detail_div a{
  text-decoration: none;
  color: white;
}

/* teams members css */
.teams_table{
  padding-top: 40px;
  text-align: center;
  margin-bottom: 30px;
}

.teams_table table{
  border-collapse: collapse;
}

td, th{
  border: 2px solid rgb(24, 111, 178);
  padding: 10px;
}
